module.exports = {
  bot_user_id: '',
  prefix: '!',
  db_url: '',
  owner: '',
  main_guild: '',
  token: '',
  default_server_welcome_message: `**Welcome to the SERVER_NAME**`,
  default_matchmaking_welcome_message: 'Welcome to Matchmaking!',
  verification_dm: 'Your account has been verified. Enjoy tournaments, ranked and other activities!',
  wc_signup_message: 'Thank you for signing up for the World Cup!',
  draft_tool_url: '',
  ranked_option_emote: '🏅',
  default_embed_color: 5392267,
  lobby_creation_cooldown: 5,
  files: {
    characters_file: 'db/characters.txt',
    tracks_file: 'db/tracks.txt',
    battle_maps_file: 'db/battle_maps.txt',
    badwords_file: 'db/badwords.txt',
  },
  channels: {
    suggestions_channel: 'suggestions',
    tourney_log_channel: 'tourney-bot-log',
    tourney_dm_channel: 'tourney-bot-dm',
    main_channel: 'general',
    spam_channel: 'bot-spam',
    livestreams_channel: 'livestreams',
    war_search_channel: 'war-search',
    tournament_lobbies_category: 'Tournament Lobbies',
    matchmaking_category: 'Matchmaking',
    matchmaking_guide_channel: 'matchmaking-guide',
    ranked_rules_channel: 'ranked-rules',
    ranked_lobbies_channel: 'ranked-lobbies',
    unranked_lobbies_channel: 'unranked-lobbies',
    ranked_results_submissions_channel: 'results-submissions',
    matchmaking_notifications_channel: 'matchmaking-notifications',
    matchmaking_general_channel: 'matchmaking-general',
    commands_allowed: [
      'music-and-memes',
      'bot-spam',
      'war-search',
      'tournament-results',
      'tournament-discussion',
      'tournament-teamfinder',
      'matchmaking-general',
    ],
  },
  roles: {
    admin_role: 'Admin',
    staff_role: 'Staff',
    tournament_staff_role: 'Tournament Staff',
    ranked_staff_role: 'Ranked Staff',
    muted_role: 'Muted',
    ranked_updater_role: 'Ranked Updater',
    streaming_role: 'Streaming',
    wc_champion_role: 'World Cup Champion',
    tournament_champion_role: 'Tournament Champion',
    ranked_champion_role: 'Ranked Champion',
    challenge_master_role: 'Challenge Master',
    donator_role: 'Donator',
    nitro_booster_role: 'Server Booster',
    verified_player_role: 'Verified Player',
    race_war_search_role: 'War',
    battle_war_search_role: 'Battle War',
    instateam_role: 'Instateam',
    matchmaking_role: 'Matchmaking',
  },
  exophase: {
    api_base_url: 'https://api.exophase.com/public/',
    site_base_url: 'https://www.exophase.com/',
    environment: 'psn',
    game: 'Crash Team Racing Nitro-Fueled',
  },
};
